
			
      hi{
      text-align: center
		}

		li {
			display: inline;
		}

		li {
			text-align: center
		}

		footer {
			color: black
		}

		h3 {
			text-align: center
		}

		img {
			width: 550px
		}

		body {
			background: white
		}

		li {
			padding-left: 30px
		}
    
    img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }