nav ul li {
  text-decoration: none;
}


			text-align: center
		}

		li {
			display: inline;
		}

		li {
			text-align: center
		}

		footer {
			color: black
		}

		h3 {
			text-align: center
		}

		img {
			width: 500px
		}

		body {
			background: white
		}

		li {
			padding-left: 30px
		}